<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="Access-Control-Allow-Credentials" value="true" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, HEAD, OPTIONS, DELETE" />
                <add name="Access-Control-Max-Age" value="600" />
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Headers" value="x-requested-with, Content-Type, origin, authorization, accept, client-security-token" />
                <add name="Api-Version" value="2" />
            </customHeaders>
        </httpProtocol>
        <security>
            <requestFiltering>
                <verbs>
                    <add verb="PUT" allowed="true" />
                    <add verb="DELETE" allowed="true" />
                    <add verb="PATCH" allowed="true" />
                </verbs>
            </requestFiltering>
        </security>
        <rewrite>
            <rules>
                <rule name="PASS-TO-SERVICE-MAPPING" stopProcessing="true" enabled="false">
                    <match url="api/(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="^/api/rest_demo" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="api/rest_demo/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
